[package]
name = "bevy_tiled"
description = "A plugin for rendering tiled maps."
version = "0.1.0"
authors = ["John Mitchell"]
homepage = "https://github.com/StarArawn/bevy_tiled"
repository = "https://github.com/StarArawn/bevy_tiled"
license-file = "LICENSE"
edition = "2018"
exclude = [
    "assets/*",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
bevy = "0.3"
bevy_type_registry = "0.3"
glam = "0.9"
tiled = "0.9"
# tiled = { git = "https://github.com/mattyhall/rs-tiled" }
